<h2 style="color: #666;">Olá, {{ name }}</h2>
<p>Bem-vindo ao Webloged, para iniciar as configurações seu blog clique no link abaixo.</p>
<p style="text-align: center;">
  <a
    style="text-decoration: none; font-size: 18px; color: #666; font-weight: bold;"
    href="{{ url }}"
  >
    Confirmar dados e iniciar configurações
  </a>
</p>
